*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.login-container{
    background: conic-gradient(#ff7e5f, #feb47b, #ff7e5f);
}
.login{ 
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 100px auto;
}
.login-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}
.login-content{
    width: 100%;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.login-header h1{
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}
.login-content input , .login-content button{
    width: 80%;
    height: 40px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.login-content button{
    color: black;
    font-weight: 700;
    font-size: 1rem;
    background-color: transparent;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.3s;
    border: 2px solid #333;
}
.login-content button:hover{
    background-color: #333;
    color: white;
}
.login-content input{
    border: none;
    border-bottom: 2px solid #333;
    border-radius: 0;
}

.login-content h3{
    color: #333;
    font-size: 16px;
    margin-top: 20px;
}